/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root{
  --color-primary:#d8801d;
  --color-dark: #4b0000;
  --color-light: #fad161;
  --color-white:#fff;
}
/*barra de rolagem suave*/
html{
  scroll-behavior: smooth; 
}

a{
color: var(--color-primary);
}
 
  /* Cabeçalho */
  header {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li{
    display: inline;
    margin: 0 1.5rem;
  }

  nav a {
    text-decoration: none;
    font-weight: 700;
  }

  .hero {
    background-image: url(img/pexels-narda-yescas-1566837.jpg);
    background-size: cover;
    color: var(--color-white);
    min-height: 75vh;
    padding: 10rem 0;
    text-align: center;
  }

  .hero h1{
    font-size: 4rem;
    font-weight: 100;
  }

  .hero p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  section:not(#home) {
    padding: 4rem;
    text-align: center;
  }

  h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  p{
    font-size: 1.5rem;
  }

  .menu-list{
    list-style: none;
  }

  .menu-list > li {
    background-color: var(--color-light);
    border-radius: .5rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 1.5rem;
    height: 28rem;
    width: 28rem;
    text-align: left;
  }

  .menu-list img{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover;
    width: 100%;
  }